<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.LectureMapper">


    <resultMap id="ResultMap1" type="Lecture">
        <id property="year" column="year"></id>
        <id property="semester" column="semester"></id>
        <id property="id" column="id"></id>
        <id property="split" column="split"></id>
        <result property="admin_id" column="admin_id"></result>
        <result property="title" column="title"></result>
        <result property="credit" column="credit"></result>
        <result property="subType" column="subType"></result>

        <association property="admin" javaType="Admin">

            <id property="id" column="admin_Id"></id>
            <result property="name" column="adminName"></result>
        </association>



    </resultMap>

    <select id="findLecBySrch" resultMap="ResultMap1">
        <bind name="start" value="(currentPage-1)*pageSize"/>
        <bind name="end" value="pageSize"/>
       select l.*,a.name adminName
       from lecture l
       left join admin a
       on l.admin_id= a.id
        <where>
            <if test="choice == 0">
                year = ${srch}
            </if>
            <if test="choice == 1">
                semester like ${srch}+"%"
            </if>
            <if test="choice == 2">
                l.id LIKE ${srch} +"%"
            </if>
            <if test="choice = =3">
                title LIKE ${srch} +"%"
            </if>
            <if test="choice == 4">
                subType LIKE ${srch}+"%"
            </if>
            <if test="choice == 5">
                crdeit = ${srch}

            </if>

        </where>
       order by year desc
       limit ${start} , ${end}


    </select>

    <select id="findAll" resultMap="ResultMap1">
        <bind name="start" value="(currentPage-1)*pageSize"/>
        <bind name="end" value="pageSize"/>
        select l.*,a.name adminName
        from lecture l
        left join admin a
        on l.admin_id= a.id
        order by year desc
        limit ${start} , ${end}


    </select>

    <select id="findLecture" resultMap="ResultMap1">
       select l.*,a.name adminName
       from lecture l
       left join admin a
       on l.admin_id= a.id
       where year=#{year} and semester like #{semester} and l.id LIKE #{id} and admin_id=#{admin_id}


    </select>


    <select id="count" resultType="int">
        select count(*)
        from lecture

    </select>

    <insert id="insert">
    INSERT Lecture (year, semester, id , split, title, admin_id, credit, subType)
	VALUES (#{year}, #{semester}, #{id}, #{split}, #{title},#{admin_id}, #{credit},#{subType})
    </insert>

    <update id="update">
        update lecture set
        year = #{year} ,
        semester = #{semester} ,
        id = #{id} ,
        split = #{split} ,
        title = #{title},
        admin_id = #{admin_id},
        credit = #{credit},
        subType = #{subType}
        where year=#{year} and semester like #{semester} and id LIKE #{id} and split = #{split}


    </update>



</mapper>