<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.NoticeMapper">


    <resultMap id="resultMapN" type="Notice">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="body" column="body"></result>
        <result property="time" column="time"></result>
        <result property="file" column="file"></result>
        <result property="admin_id" column="admin_id"></result>
        <result property="count" column="count"></result>
        <result property="target" column="target"></result>
        <association property="admin" javaType="Admin">
            <id property="id" column="admin_Id"></id>
            <result property="name" column="adminName"></result>
        </association>
    </resultMap>

    <select id="findAll" resultMap="resultMapN">
        <bind name="start" value="(currentPage-1)*pageSize"/>
        <bind name="end" value="pageSize"/>
    select n.id, n.title,a.name adminName,n.time,n.count
    from notice n left join admin a
    on n.admin_id = a.id
    order by n.id desc
        limit ${start} , ${end};
    </select>

    <select id="findNew" resultMap="resultMapN">
        select n.id, n.title,a.name adminName,n.time,n.count
        from notice n left join admin a
        on n.admin_id = a.id
        order by n.id desc
        limit 8;
    </select>

    <select id="findNotiBySrch" resultMap="resultMapN">
        <bind name="start" value="(currentPage-1)*pageSize"/>
        <bind name="end" value="pageSize"/>
        select n.id, n.title,a.name adminName,n.time,n.count
        from notice n left join admin a
        on n.admin_id = a.id

        <where>
            <if test="choice == 0">
                title LIKE concat('%',#{srch},'%')
            </if>
            <if test="choice == 1">
                a.name LIKE concat(#{srch},'%')
            </if>
        </where>
        order by n.id desc
        limit ${start} , ${end}


    </select>

    <select id="count" resultType="int">
        select count(*)
        from notice

    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT Notice (title, body , time, file, admin_id)
	VALUES (#{title}, #{body}, now() ,#{file},#{admin_id})
    </insert>

<!--    클릭시 나오게 하기위해 Notice 체크-->
    <select id="findNotice" resultMap="resultMapN">
    select n.*,a.name adminName
    from notice n left join admin a
    on n.admin_id = a.id
       where n.id=#{id};
    </select>

    <select id="findOne" resultMap="resultMapN">
    select n.*,a.name adminName
    from notice n left join admin a
    on n.admin_id = a.id
       where n.id=#{id}
    </select>

    <update id="update">
        update notice
        set title= #{title},
        body = #{body},
        time = now()
        where id=#{id}
    </update>

    <update id="countPlus">
        update notice
          set count=count+1
      where id=#{id};
    </update>
    <delete id="delete">
      Delete from notice
      where id=#{id}
    </delete>

    <select id="srchCount" resultType="int">
        select count(*)
        from notice n
        left join admin a
        on n.admin_id= a.id
        <where>
            <if test="choice ==0">
                title LIKE concat('%',#{srch},'%')
            </if>
            <if test="choice == 1">
                a.name LIKE concat(#{srch},'%')
            </if>

        </where>

    </select>
</mapper>
