<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.QnaMapper">

    <resultMap id="resultMapQ" type="Qna">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="body" column="body"></result>
        <result property="wtime" column="wtime"></result>
        <result property="answerstate" column="answerstate"></result>
        <result property="student_id" column="student_id"></result>
        <result property="count" column="count"></result>
        <association property="student" javaType="Student">
            <id property="id" column="student_Id"></id>
            <result property="name" column="studentName"></result>
        </association>
    </resultMap>

    <select id="findAll" resultMap="resultMapQ">
        <bind name="start" value="(currentPage-1)*pageSize"/>
        <bind name="end" value="pageSize"/>
    select a.id,a.title,a.wtime,s.name studentName,a.count
    from qna a
    LEFT JOIN student s
    on a.student_id = s.id
    order by a.id desc
    limit ${start} , ${end};
    </select>

    <select id="findQna" resultMap="resultMapQ">
    select q.*,s.name studentName
    from qna q left join student s
    on q.student_id = s.id
      where q.id=#{id}
    </select>

    <insert id="insert">
    INSERT Qna (title, body , wtime,  student_id)
	VALUES ( #{title}, #{body}, #{wtime},#{student_id})
    </insert>

    <update id="update">
        update qna set
        title = #{title},
        body = #{body},
        file = #{file},
        count = #{count}
        where id=#{id}
    </update>

    <select id="count" resultType="int">
        select count(*)
        from qna

    </select>

</mapper>
