<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.ReplaceLectureMapper">


    <resultMap id="replaceLecMap" type="ReplaceLecture">
        <id property="closeLecture" column="closeLecture"></id>
        <result property="department" column="department"></result>
        <result property="closeLecTitle" column="closeLecTitle"></result>
        <result property="subType" column="subType"></result>
        <result property="credit" column="credit"></result>
        <result property="replaceLecture" column="replaceLecture"></result>
        <result property="replaceLecTitle" column="replaceLecTitle"></result>

    </resultMap>

    <!--모든 폐지과목 대체될수있는과목 조회하기-->
    <select id="findAll" resultMap="replaceLecMap">
        <bind name="start" value="(currentPage-1)*pageSize"/>
        <bind name="end" value="pageSize"/>
        select *
        from replacelecture
        limit ${start} , ${end}
    </select>


    <select id="count" resultType="int">
        select count(*)
        FROM replacelecture
    </select>

    <!--검색조회-->
    <select id="findCloseBySrch" resultMap="replaceLecMap">
        <bind name="start" value="(currentPage-1)*pageSize"/>
        <bind name="end" value="pageSize"/>
        select *
        from replacelecture
        <where>
            <if test="choice == 0">
                department LIKE concat(#{srch},'%')
            </if>
            <if test="choice == 1">
                closeLecture like concat(#{srch},'%')
            </if>
            <if test="choice == 2">
                closeLecTitle LIKE concat(#{srch},'%')
            </if>
            <if test="choice ==3">
                subType LIKE concat(#{srch},'%')
            </if>
            <if test="choice == 4">
                credit = #{srch}
            </if>

        </where>
        limit ${start}, ${end}
    </select>

   <!--검색을위한카운트-->
    <select id="srchCount" resultType="int">
        select count(*)
        FROM replacelecture
        <where>
            <if test="choice == 0">
                department LIKE concat(#{srch},'%')
            </if>
            <if test="choice == 1">
                closeLecture like concat(#{srch},'%')
            </if>
            <if test="choice == 2">
                closeLecTitle LIKE concat(#{srch},'%')
            </if>
            <if test="choice ==3">
                subType LIKE concat(#{srch},'%')
            </if>
            <if test="choice == 4">
                credit = #{srch}
            </if>

        </where>
    </select>

    <select id="findOne" resultType="replaceLecture">
        select *
        FROM replacelecture
        where closeLecture like #{closeLecture}

    </select>

    <insert id="insert">
    INSERT replaceLecture (department, closeLecture, closeLecTitle , subType, credit, replaceLecture, replaceLecTitle)
	VALUES (#{department}, #{closeLecture}, #{closeLecTitle}, #{subType}, #{credit},#{replaceLecture}, #{replaceLecTitle})
    </insert>

    <update id="update">
        update replaceLecture set
        department = #{department},
        closeLecTitle = #{closeLecTitle},
        subType = #{subType},
        credit = #{credit},
        replaceLecture = #{replaceLecture},
        replaceLecTitle = #{replaceLecTitle}
        where closeLecture like #{closeLecture}

    </update>

    <delete id="delete">
        Delete from replaceLecture
        where closeLecture like #{closeLecture}

    </delete>


</mapper>