.container
{
    width: 900px;
    height: 800px;
    text-align: center;
}

.block
{
    width: 500px;
    height: 500px;
    display: inline-block;
    padding-top: 200px;
<<<<<<< HEAD
}
=======
}
>>>>>>> cbb51c552d2cbac933173f0b35ab5b7698cd1d32
